<ion-view>

  <div id="game-status-box">
    <div id="score-box">
      <h2 class="title">Score</h2>
      <div id="current-score">
        {{ currentUser.currentScore }}
      </div>
    </div>
    <div id="timer-box">
      <h2 class="title">Time</h2>
      <div id="current-timer">
        {{ currentUser.currentScore }}
      </div>
    </div>
  </div>

  <div id="innerBoard">
      <button class ="button diamond"
           id       ="{{$index}}"
           ng-repeat="territory in gameBoard track by $index"
           ng-click ="selectedTerritory($index)"
           ng-style ="{background: generateColor(territory), color: checkGameMode()}">
        {{ territory }}
      </button>
  </div>
  <!-- Footer -->

  <div class="bar bar-footer footer-custom-color">
    <div class="button-bar">
      <button class="button game-actions-button" ng-click="botMode()">
        Play
      </button>

      <button class="button game-actions-button" ng-click="returnToMenu()">
        Menu
      </button>
    </div>
  </div>
</ion-view>