<ion-view>

  <div id="game-status-box">
    <div id="score-box">
      <h2 class="title">Score</h2>
      <div id="current-score">
        {{ currentUser.currentScore }}
      </div>
    </div>
    <div id="timer-box">
      <h2 class="title">Time</h2>
      <div id="current-timer">
        {{ currentUser.currentScore }}
      </div>
    </div>
  </div>

  <div id="innerBoard">
      <div class    ="diamond"
           id       ="{{$index}}"
           ng-repeat="territory in gameBoard track by $index"
           ng-click ="selectedTerritory($index)"
           ng-style ="{background: generateColor(territory), color: checkGameMode()}">
        {{ territory }}
      </div>
  </div>
  <!-- Footer -->

  <div id="game-actions-box">
    <div class="game-actions-button" ng-click="botMode()">
      Play
    </div>
    <div class="game-actions-button" ng-click="botMode()">
      Restart
    </div>
    <div class="game-actions-button" href="#/menu">
      Menu
    </div>
  </div>
</ion-view>