<ion-view>
  <ion-content>
    <div>
      <h1>TicTacWhat</h1>
    </div>

    <div>
      <a class="button button-energized" href="#/mode/easy/round/1">
        Easy
      </a>
    </div>

    <div>
      <a class="button button-energized" href="#/mode/normal/round/1">
        Normal
      </a>
    </div>

    <div>
      <a class="button button-energized" href="#/mode/hard/round/1">
        Hard
      </a>
    </div>

    <div>
      <a class="button button-stable" href="#/tutorial">
        How to play
      </a>
    </div>

    <div>
      <a class="button button-stable" href="#/score">
        High Score
      </a>
    </div>

  </ion-content>
</ion-view>