<ion-view>
  <ion-content>
  <div id="menu">
    <div>
      <h1><span class="title-half">TicTac</span><span class="title-other-half">What</span></h1>
    </div>

    <div>
      <a class="button menu-buttons" href="#/mode/easy/round/1">
        Easy
      </a>
    </div>

    <div>
      <a class="button menu-buttons" href="#/mode/normal/round/1">
        Normal
      </a>
    </div>

    <div>
      <a class="button menu-buttons" href="#/mode/hard/round/1">
        Nope
      </a>
    </div>

    <div>
      <a class="button menu-buttons menu-buttons-others" href="#/tutorial">
        How to play
      </a>
    </div>

    <div>
      <a class="button menu-buttons menu-buttons-others" href="#/score">
        High Score
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>