<ion-view>
  <ion-content>
    <h1 class="title"><span class="title-half">High</span> <span class="title-other-half">Scores</span></h1>

    <div class="row score-columns">
      <div class="col col-25 col-offset-10"><b>Rank</b></div>
      <div class="col col-25"><b>Score</b></div>
      <div class="col col-25"><b>User</b></div>
    </div>

    <div class="row score-rows" ng-repeat="user in scoreBoard.allScores | toArray | orderBy:'score':true | limitTo: 10">
      <div class="col col-25 col-offset-10">#{{ $index + 1}}</div>
      <div class="col col-25">{{ user.score }}</div>
      <div class="col col-25">{{ user.username }}</div>
    </div>

    <br>
    <center>
    <div>
      <a class="button menu-buttons" href="#/menu">
       Menu
      </a>
    </div>
    </center>
  </ion-content>
</ion-view>