<ion-view>
  <ion-content>
    <h1>High Scores</h1>

    <div class="row">
      <div class="col col-20"><b>Rank</b></div>
      <div class="col col-33"><b>Score</b></div>
      <div class="col col-33"><b>User</b></div>
    </div>

    <div class="row" ng-repeat="user in scoreBoard.allScores|orderBy:'score'">
      <div class="col col-20">{{ $index + 1}}</div>
      <div class="col col-33">{{ user.score }}</div>
      <div class="col col-33">{{ user.username }}</div>
    </div>
  </ion-content>
</ion-view>